
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--primary-color);

    .creator-container {
        display: flex;
        align-items: center;
        height: fit-content;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.3s ease;
        color: var(--text-color-black);

        &:hover {
            background-color: var(--primary-color-tint);
        }

        .creator-image {
            margin-right: 6px;
            border-radius: 10px;
        }

        .creator-text {
            font-size: 12px;
        }

        .creator-name {
            font-weight: 600;
        }
    }
}