
<section id="home" class="container hero-section">
    <div class="content hero-content">
        <div class="hero-text-container">
            <h1 class="title">Highly customizable skeleton loader component</h1>
            <p class="subtitle">
                Are you loosing your patience looking at a blank screen when you open your app? 
                That can impact your viewers or clients. So let's change that!
            </p>
            <div class="buttons-container">
                <a href="#installation" class="button primary">Get started</a>
                <a href="#docs" class="button secondary">Documentation</a>
                <a href="https://www.npmjs.com/package/sk-loader" target="_blank" rel="noopener noreferrer" class="button npm-button">
                        Check it out on <img src="assets/icons/npm-brands.svg" width="40">
                </a>
            </div>
        </div>
        <div class="hero-image-container">
            <app-comparator></app-comparator>
        </div>
    </div>
</section>
