
<div #container class="card-container">
    <div class="slider" (mousedown)="drag()" (window:mouseup)="leave()" [style.marginLeft]="getSliderMargin()">
        <div class="line"></div><div class="line"></div><div class="line"></div>
    </div>
    <div class="resizer" [style.width.%]="width">
        <div class="card loaded-card">
            <img class="image" src="https://vladpascu.com/dist/images/portrait-light.png">
            <div class="title">My first npm published library</div>
            <p>I made this Angular skeleton loader component library with customization and adaptability in mind.
                Don't be afraid to make your loader unique!
            </p>
        </div>

    </div>

    <div class="card loading-card">
        <div class="image">
            <sk-loader loaderType="image"></sk-loader>
        </div>
        <div class="title">
            <sk-loader [rowsNumber]="2" [align]="'center'"></sk-loader>
        </div>
        <sk-loader [rowsNumber]="5" [indent]="true"></sk-loader>
    </div>
</div>