
.features-section {
    background-color: var(--hero-background-color);
    padding-bottom: 15vh;

    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 4em 0 6em 0;
        background-color: var(--secondary-color-shade);
        box-shadow: 0 25px 60px -30px var(--secondary-color);
        border-radius: 20px;
        font-size: 20px;
        color: white;

        .features-title {
            font-size: 2.5em;
            margin: 0 0 1.5em 0;
            background-color: var(--secondary-color-tint);
            padding: 10px 20px;
            border-radius: 10px;
        }

        .feature-grid {
            display: grid;
            grid-template-columns: repeat(1, max-content);
            gap: 4em;

            .feature {
                display: grid;
                grid-template-columns: 50px 200px;
                grid-template-rows: max-content 1fr;
                gap: 10px;
    
                .icon {
                    width: 50px;
                    height: 50px;
                    transform: translateY(0px);  
                    background-color: var(--secondary-color-tint);
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 10px;
                    transition: transform 0.3s;

                    &:hover {
                        transform: translateY(-5px);                        
                        background-color: var(--secondary-color-lighter);
                    }
                }
    
                .feature-header {
                    grid-column-start: 2;
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    font-weight: 700;
                }
    
                .feature-description {
                    grid-column-start: 2;
                    font-size: 0.8em;
                }
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    .features-section .features-content {
        font-size: 16px;

        .feature-grid {
            grid-template-columns: repeat(2, max-content);
        }
    }
}


@media only screen and (min-width: 1300px) {
    .features-section .features-content {

        .feature-grid {
            grid-template-columns: repeat(3, max-content);
        }
    }
}