
<div class="header-container">
    <div>Title Lorem Ipsum dolores Cristina stie!</div>
    <sk-loader [rowsNumber]="2"></sk-loader>
</div>

<div class="card-container">

    <div class="card">
        <div class="image">
            <sk-loader loaderType="image"></sk-loader>
        </div>
        <div class="title">
            <sk-loader [rowsNumber]="2" [align]="'center'"></sk-loader>
        </div>
        <sk-loader [rowsNumber]="5" [indent]="true"></sk-loader>
    </div>
    
    <div class="card">
        <img class="image" src="https://i.pinimg.com/736x/ab/13/10/ab1310c11f5f280ace9523f896ac1d56.jpg">
        <div class="title">Lorem Ipsum is simply dummy text</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever sincer</p>
    </div>
</div>

<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever sincer
    Loremiums Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever sincee 
    theremop 15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dum
</p>
<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
</p>