<section id="examples" class="container examples-section">
    <div class="content examples-content">
        <h2 class="title examples-title">Examples</h2>
        <p class="examples-subtitle">This is a demo of the final result of how your skeleton 
            loader component may look like. In this example is presented a header (h1), 
            a card containing an image, a small header (h3) and a paragraph and at the end an indented paragraph.
        </p>
        <div class="header-container">
            <sk-loader [rowsNumber]="2"></sk-loader>
        </div>
        <div class="card-container">
            <div *ngFor="let card of cards" class="card">
                <div class="image">
                    <sk-loader loaderType="image"></sk-loader>
                </div>
                <div class="title">
                    <sk-loader [rowsNumber]="2" [align]="'center'"></sk-loader>
                </div>
                <sk-loader [rowsNumber]="5" [indent]="true"></sk-loader>
            </div>
        </div>
        <div class="paragraph-container">
            <sk-loader [rowsNumber]="5" [indent]="true"></sk-loader>
        </div>
    </div>
</section>

