<div class="page-container">
    <div class="header-container">
        <sk-loader [rowsNumber]="1"></sk-loader>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="image">
                <sk-loader loaderType="image"></sk-loader>
            </div>
            <div class="title">
                <sk-loader [rowsNumber]="2" [align]="'center'"></sk-loader>
            </div>
            <sk-loader [rowsNumber]="5" [indent]="true"></sk-loader>
        </div>
    </div>
    <div class="paragraph-container">
        <sk-loader [rowsNumber]="5" [indent]="true"></sk-loader>
    </div>
</div>