

.documentation-section {
    margin-top: calc(70px + 10vh);
    padding: 0 0 25vh 0;
    font-family: var(--font-family);
    background-color: var(--white-background-color);

    .documentation-header-container {
        margin: 2em 0 1em 0;
        padding-left: 30px;
        font-size: 28px;
    }

    .paragraph-container {
        margin-bottom: 2em 0;
    }

    .documentation-image-container {
        display: flex;
        justify-content: center;
        margin: 2em 0;

        sk-loader {
            height: 250px;
            width: 80%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .documentation-section {

        .documentation-header-container {
            width: 50%;
        }

        .documentation-image-container {
    
            sk-loader {
                width: 60%;
            }
        }
    }
}