
#comparator-container.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    transform: translate(0);

    .slider {
        height: 40px;
        width: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 5;
        background-color: var(--secondary-color);
        border-radius: 3px;
        cursor: col-resize;     
        animation: sliderAppear 3s ease-in-out;

        .line {
            width: 6px;
            height: 1px;
            margin-bottom: 3px;
            background-color: white;

            &:nth-of-type(3) {
                margin-bottom: 0;
            }
        }
    }

    .resizer {
        position: absolute;
        z-index: 2;
        width: 50%;
        height: 100%;
        overflow: hidden;
        clip: rect(0, auto, auto, 0);
        background-color: var(--primary-color);
        animation: maskAppear 3s ease-in-out;
    }

    .loaded-card {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 3;
        user-select: none;

        img {
            -webkit-user-drag: none;
        }
    }

    .loading-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 1;
        
    }
}

@keyframes sliderAppear {
    0% {
        margin-left: calc(0% - 5px);
        opacity: 0;
    }
    33% {
        margin-left: calc(0% - 5px);
        opacity: 0;
    }
    34% {        
        opacity: 1;
    }
    66% {
        margin-left: calc(65% - 5px);
    }
    88% {
        margin-left: calc(40% - 5px);
    }
    100% {
        margin-left: calc(50% - 5px);
    }
}

@keyframes maskAppear {
    0% {
        width: 0%;
    }
    33% {
        width: 0%;
    }
    66% {
        width: 65%;
    }
    88% {
        width: 40%;
    }
    100% {
        width: 50%;
    }
}