@import 'global.scss';
@import 'navbar.scss';
@import 'footer.scss';

#documentation.documentation-container {
    margin-top: calc(70px + 10vh);
    padding: 0 0 25vh 0;
    font-family: var(--font-family);
    color: var(--text-color-black);
    background-color: var(--white-background-color);

    .version-text {
        color: var(--text-color-gray);
    }

    .documentation-section {
        padding-top: 10vh;

        .section-title {
            position: relative;
            transition: padding-left 0.3s ease-in-out;

            .section-anchor {
                position: absolute;
                left: 0;
                color: var(--primary-color);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover {
                padding-left: 1em;

                .section-anchor {
                    opacity: 1;
                }
            }
        }

        .section-content {

            .section-paragraph {
                color: var(--text-color-gray);
                line-height: 1.6em;
            }

            .section-paragraph, .sub-section-content {
                margin-bottom: 3em;
            }

            .sub-section-container {
                margin-top: 6em;
            }

            .documentation-property-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2em;
                margin-bottom: 4em;

                .documentation-example {
                    width: 100%;
                    padding: 1.5em;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: var(--gray-background-color);

                    h4 {
                        margin: 1em 0 0 0;

                        &:first-of-type {
                            margin: 0;
                        }
                    }
                }
            }
        }
    
        .image-container {
            display: flex;
            justify-content: center;
            margin: 2em 0;
    
            & > * {
                height: 250px;
            }
        }
    }

    .code-tag {
        padding: 2px 6px;
        border-radius: 5px;
        background-color: var(--tag-secondary-background-color);

        &:hover {
            color: var(--secondary-color);
        }
    }

    .code-snippet-container {
        margin-bottom: 2em;

        .code-snippet-file-name {
            display: inline-block;
            padding: 0.5em 1.5em;
            margin: 0;
            background-color: var(--gray-background-color);
            border-radius: 10px 10px 0 0 ;
        }

        .code-snippet {
            display: flex;
            padding: 0 2em;
            margin: 0;
            border-radius: 0 10px 10px 10px;
            background-color: var(--gray-background-color);
        }
    }

    .documentation-table {
        width: 100%;
        border-radius: 10px;
        border-collapse: collapse;
        border-style: hidden;
        box-shadow: inset 0 0 0 1px var(--table-border-color);
        overflow: hidden;
        font-size: 14px;
        background-color: var(--white-background-color);
        
        td, th {
            padding: 1em;
            border: 1px solid var(--table-border-color);
        }

        th {
            background-color: var(--secondary-color-tint);
            border-color: var(--secondary-color-shade);
            color: white;
        }

        td {
            line-height: 1.6em;
        }

        .fixed-column {
            min-width: 100px;
        }

        .expanded-column {
            width: 80%;
        }
    }

    @media only screen and (min-width: 768px) {

        .documentation-section .section-content {
            margin: 0 4em;

            .documentation-property-container {
                flex-direction: row;
    
                .documentation-example {
                    width: 75%;
                }
            }
        }        
        
        .image-container > * {
            width: 80%;
        }

        .fixed-column {            
            white-space: nowrap;
        }
    }
}