@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {    
    scroll-behavior: smooth;
  }
  
  body {
      margin: 0;
      color: var(--text-color);
  
      a {
          text-decoration: none;
      }
  
      // colors
      --primary-color: #f37d3e;
      --primary-color-tint: #f98c51;
      --primary-color-shade: #d6692e;
      --secondary-color: #4641e0;
      --secondary-color-tint: #5752ee;
      --secondary-color-lighter: #625ded;
      --secondary-color-shade: #433eb2;
      --navbar-background-color: var(--secondary-color);
      --white-background-color: white;
      --light-gray-background-color: #f8f8f8;
      --gray-background-color: #d3d3d3;
      --dark-gray-background-color: #1f1f1f;
      --dark-background-color: #181818;
      --background-color: var(--white-background-color);
      --second-background-color: var(--light-gray-background-color);
      --tag-secondary-background-color: #f6f8fc;

      --text-color-white: white;
      --text-color-black: #191919;
      --text-color-gray: #505050;
      --text-color: var(--text-color-black);
      --text-hover-color: rgb(246, 246, 246);

      --table-border-color: #d3d3d3;
  
      --warning-color: #d6692e;
      --warning-color-tint: #ffecc7;

      --box-shadow: rgb(76 76 80 / 10%) 0px 30px 70px -10px, rgb(0 0 0 / 20%) 0px 20px 40px -30px;
  
      // font
      --font-family: 'Roboto', sans-serif;

      &.dark-theme {
        --background-color: var(--dark-background-color);
        --second-background-color: var(--dark-gray-background-color);
        --gray-background-color: #222222;
        --text-color: var(--text-color-white);
        --box-shadow: none;

        --sk-loader-background: #303030;
        --sk-loader-highlight: rgba(255, 255, 255, 0),
                                rgb(60, 60, 60),
                                rgba(255, 255, 255, 0);
                            
        #comparator-container.card-container {
            .slider {
                background-color: var(--primary-color);
            }
            
            .resizer {
                background-color: var(--secondary-color-tint);
            }
        } 

        .warning-container {
            background-color: var(--warning-color);

            .warning-header {
                color: var(--text-color-white);
            }

            .warning-message {
                color: var(--warning-color-tint);
            }

            &::before {
                background-image: url('assets/icons/triangle-exclamation-solid-white.svg');
            }
        }
      }
  
      @media only screen and (max-width: 768px) {
          --content-max-width: 90vw;
      }
  
      @media only screen and (min-width: 768px) {        
          --content-max-width: 80vw;
      }
  
      @media only screen and (min-width: 1200px) {
          --content-max-width: 70vw;
      }
  }
  
  .container {    
      width: 100%;
      background-color: var(--second-background-color);
      padding: 10vh 0 5vh 0;
  
      .content {        
          width: 100%;
          max-width: var(--content-max-width);
          margin: 0 auto;
  
          .title {
              font-size: 3em;
              margin: 0 0 16px 0;
          }
      }
  }
  
  .main-container {
      font-family: var(--font-family);
      background-color: var(--second-background-color);
  
      .page-container {
          display: flex;
          flex-direction: column;
          width: 100%;
      }
  
      .header-container {
          width: 80%;
          padding-left: 30px;
          margin-bottom: 50px;
          font-size: 32px;
          font-weight: 700;
          line-height: 45px;
      }
  
      .image-container {
          display: flex;
          justify-content: center;
          height: 250px;
  
          & > * {
              width: 80%;
          }
      }
  
      .card-container {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-bottom: 70px;
      
          .card {
              font-size: 16px;
              width: 300px;
              height: 410px;
              padding: 30px;
              margin: 0 20px;
              border-radius: 15px;
              background-color: var(--background-color);
              box-shadow: var(--box-shadow);
              box-sizing: border-box;
  
              .image {
                  width: 100%;
                  height: 150px;
                  object-fit: cover;
                  margin-bottom: 10px;
              }
      
              .title {
                  font-size: 20px;
                  text-align: center;
                  font-weight: 600;
                  margin-bottom: 25px;
              }
  
              p {
                  line-height: 22px;
                  text-indent: 15px;
              }
          }
      }
  
      .paragraph-container {
          padding-left: 30px;
          text-indent: 40px;
      }
  }
  
  .warning-container {
      padding: 1.5em;
      display: flex;
      align-items: center;
      background-color: var(--warning-color-tint);
      border-radius: 10px;
  
      .warning-header {
          color: var(--warning-color);
          font-weight: 600;
          margin-bottom: 4px;
      }
  
      .warning-message {
          color: var(--text-color-black);
          font-size: 12px;
      }
  
      &::before {
          content: '';
          width: 24px;
          height: 24px;
          flex: 0 0 auto;
          margin-right: 1em;
          background-image: url('assets/icons/triangle-exclamation-solid.svg');
          background-size: contain;
      }
  }
  
  .paragraph-hyperlink {
    color: var(--primary-color);
  }

  .anchor-scroll {
    scroll-margin-top: 10vh;
  }