
nav {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: var(--navbar-background-color);
    
    .navbar-content {
        height: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-size: 14px;

        .logo {
            display: none;
            text-decoration: none;
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .nav-buttons-container {
            display: flex;
            gap: 1em;

            .nav-button {
                height: 50px;
                text-align: center;
                line-height: 50px;
                text-decoration: none;
                color: var(--text-color);
                padding: 0 1.5em;
                border-radius: 6px;

                &:hover {
                    background-color: var(--secondary-color-tint);
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .navbar-content {
            justify-content: space-between;
            font-size: 16px;

            .logo {
                display: block;
            }
        }
    }
}